av==14.4.0 ; python_full_version >= "3.10.1" and python_version < "3.14"
colorama==0.4.6 ; python_full_version >= "3.10.1" and python_version < "3.14" and platform_system == "Windows"
numpy==2.2.6 ; python_full_version >= "3.10.1" and python_version < "3.14"
plotille==5.0.0 ; python_full_version >= "3.10.1" and python_version < "3.14"
scipy==1.15.3 ; python_full_version >= "3.10.1" and python_version < "3.14"
tqdm==4.66.6 ; python_full_version >= "3.10.1" and python_version < "3.14"
